/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 abr. 2022, 15:37:23
    Author     : marti
*/
.root{

-fx-background-radius: 0 50px 50px 0;
-fx-border-radius: 0 50px 50px 0;
-fx-border-color: black;
}

.log{
    -fx-background-color: #ffffff;
-fx-background-radius: 0 50px 50px 0;
-fx-border-radius: 0 50px 50px 0;
}


.img{
-fx-background-image:url('../recursos/Bull.jpg');
-fx-background-size: cover;
-fx-background-repeat: no-repeat;

}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.buttonBar{
       -fx-background-color: transparent;
}
.buttonBar:hover {-fx-background-color: #CDD0D7;
       -fx-border-radius:50px;
}


.button1 {
  -fx-background-color: white;
  -fx-border-color:#e7e7e7;
}

.button1:hover {-fx-background-color: #e7e7e7;}

.label{
    -fx-font-weight: bold;
}