/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 may. 2022, 16:53:51
    Author     : Markyuu
*/

.img{
    -fx-background-image:url('../recursos/Bull.jpg');
    -fx-background-size: cover;
    -fx-border-radius: 50px;
    
}

.botton{

}

.botton:hover{
        -fx-border-width: 0 0 3 0;
-fx-border-color: white;
}

.tab{
  -fx-tab-min-width:100px;
  -fx-tab-max-width:100px;
  -fx-tab-min-height:200px;
  -fx-tab-max-height:200px;
  
-fx-margin-bottom: 20px;
-fx-background-color:transparent;


}






.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;    
    -fx-text-fill: white;
}

.combo-box .cell:selected{
        -fx-text-fill: white;

}

.tab .tab-label {
-fx-rotate: 90;
-fx-text-fill: #ffffff;
-fx-font-size: 25px;

}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
  -fx-background-color: rgba(0,0,0,0.5);

}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:selected{

        -fx-border-width: 0 0 3 0;
-fx-border-color: white;
}

.buttonrefresh {
  -fx-background-color: white;
  -fx-border-color:transparent;
  -fx-border-radius:10px;
}

.buttonrefresh:hover {  
  -fx-background-color: rgba(0,0,0,0.5);
  -fx-border-radius:10px;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
  -fx-background-color: rgba(0,0,0,0.5);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-weight: normal;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #6b2627;
    -fx-table-cell-border-color: transparent;

}

.table-view .table-row-cell{
    -fx-cell-size:30px;

}

.chatBack .content{
    -fx-background-color: rgba(0,0,0,0.5);

}

.destacado{
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-border-radius: 0 50px 50px 0;
}

.photoTransparent{
    -fx-fill: transparent;
}

.borderFicha{
    -fx-background-color: rgba(0,0,0,0.5);
        -fx-background-radius: 50px 50px 50px 50px;

}

.borderFicha2{
    -fx-background-color: rgba(0,0,0,0.5);

}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;    
    -fx-text-fill: white;
    -fx-font-size: 15pt ;

}

.playerText{
    -fx-font-weight: bold
}
