/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 abr. 2022, 15:37:23
    Author     : marti
*/
.root{

-fx-background-radius: 50px;
-fx-border-radius: 50px;
}

.log{
    -fx-background-color: #ffffff;
}


.img{
-fx-background-image:url(kobeLogin.jpg);
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
}
